{% extends "layout.html" %}

{% block head %}
<title>Přidat film</title>
{% endblock %}

{% block body %}
<div class="container-login">
    <div class="login-page">
        <h2 id="login_h2">Přidat Sál</h2>
        <form action="/addHall" class="login-form" method="POST">
            <div class="form-group">
                <input type="number" placeholder="Číslo sálu" name="hall_number"/>
            </div>
            <div class="form-group">
                <select name="projection_type" class="custom-select">
                    <label>Typ promítání</label>
                    <option value="1">3D</option>
                    <option value="0">2D</option>
                </select>
            </div>
            <div class="form-group">
                <select name="sound_type" class="custom-select">
                    <label>Typ promítání</label>
                    <option value="1">Prostorový zvuk</option>
                    <option value="0">Klasický zvuk</option>
                </select>
            </div>
            <div class="form-group">
                <input type="number" placeholder="Číslo promítání" name="projection_id"/>
            </div>
            <div class="form-group">
                <button type="submit">Uložit</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}