{% extends "layout.html" %}

{% block head %}
<title>Filmy</title>
{% endblock %}

{% block body %}
<h1>Filmy</h1>
{% if session['name'] %}
<a href="{{url_for('addMovie')}}"class="btn btn-success"><span id="plus">+</span> Přidat film</a>
{% endif %}

<table class="table">
  <thead class="thead-dark">
    <th scope="col">Název</th>
    <th scope="col">Délka</th>
    <th scope="col">Typ Filmu</th>
    <th scope="col">Žánr Filmu</th>
    {% if session['name'] %}
    <th></th>
    {% endif %}
  </thead>
  <tbody>
  {% for film in filmDetails %}
    <tr>
        <td>{{film['nazev']}}</td>
        <td>{{film['delka']}}</td>
        <td>{{film['typ_filmu']}}</td>
        <td>{{film['nazev_zanru']}}</td>
        {% if session['name'] %}
        <td><a class="custom-btn update-btn" href="/updatemovie/{{film['id_filmu']}}">Upravit</a>&nbsp;<a class="custom-btn delete-btn" href="/delete/{{film['id_filmu']}}">Smazat</a></td>
        {% endif %}
    </tr>
  {% endfor %}
  </tbody>
</table>

{% endblock %}