{% extends "layout.html" %}

{% block head %}
<title>Filmy</title>
{% endblock %}

{% block body %}
<h1>Filmy</h1>
{% if session['name'] %}
<a href="{{url_for('addMovie')}}"class="btn btn-success"><span id="plus">+</span> Přidat film</a>
{% endif %}

<table class="table">
  <thead class="thead-dark">
    <th scope="col">Název</th>
    <th scope="col">Délka</th>
    <th scope="col">Typ Filmu</th>
    <th scope="col">Žánr Filmu</th>
  </thead>
  <tbody>
  {% for film in filmDetails %}
    <tr>
        <td>{{film['nazev']}}</td>
        <td>{{film['delka']}}</td>
        <td>{{film['id_typu_filmu']}}</td>
        <td>{{film['id_zanru_filmu']}}</td>
    </tr>
  {% endfor %}
  </tbody>
</table>

<!--
<table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Název</th>
        <th scope="col">Délka</th>
        <th scope="col">Typ Filmu</th>
        <th scope="col">Žánr Filmu</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><a href="{{url_for('film')}}">Forrest Gump</a></td>
        <td>142</td>
        <td>Hraný</td>
        <td>Komedie</td>
      </tr>
      <tr>
        <td><a href="{{url_for('film')}}">Zelená míle</a></td>
        <td>188</td>
        <td>Hraný</td>
        <td>Drama</td>
      </tr>
      <tr>
        <td><a href="{{url_for('film')}}">Sedm</a></td>
        <td>127</td>
        <td>Hraný</td>
        <td>Krimi</td>
      </tr>
    </tbody>
</table> -->

{% endblock %}