{% extends "layout.html" %}

{% block head %}
<title>Filmy</title>
{% endblock %}

{% block body %}
<h1>Promítání</h1>

<table class="table">
    <thead class="thead-dark">
      <th scope="col">Datum promítání</th>
      <th scope="col">Čas promítání</th>
      <th scope="col">Id Filmu</th>
      <th scope="col">Id Prodeje</th>
    </thead>
    <tbody>
    {% for promitani in promitaniDetails %}
      <tr>
          <td>{{promitani['datum_promitani']}}</td>
          <td>{{promitani['cas']}}</td>
          <td>{{promitani['id_filmy']}}</td>
          <td>{{promitani['id_prodeje']}}</td>
      </tr>
    {% endfor %}
    </tbody>
  </table>

{% endblock %}