{% extends "layout.html" %}

{% block head %}
<title>Upravit</title>
{% endblock %}

{% block body %}
    {% for sal in data %}
    <div class="container-login">
        <div class="login-page">
            <h2 id="login_h2">Upravit Sál</h2>
            <form action="/updatehall/{{sal['id_salu']}}" class="login-form" method="POST">
                <div class="form-group">
                    <label>Číslo sálu</label>
                    <input type="number" placeholder="Číslo Sálu" name="hall_number" value="{{sal['cislo_salu']}}"/>
                </div>
                <div class="form-group">
                    <select name="projection_type" class="custom-select">
                        <label>Typ promítání</label>
                        <option value="1" {{ 'selected' if sal['typ_promitani'] == 1 else '' }}>3D</option>
                        <option value="0" {{ 'selected' if sal['typ_promitani'] == 0 else '' }}>2D</option>
                    </select>
                </div>
                <div class="form-group">
                    <select name="sound_type" class="custom-select">
                        <label>Typ promítání</label>
                        <option value="1" {{ 'selected' if sal['typ_ozvuceni'] == 1 else '' }}>Prostorový zvuk</option>
                        <option value="0" {{ 'selected' if sal['typ_ozvuceni'] == 0 else '' }}>Klasický zvuk</option>
                    </select>
                </div>

                <div class="form-group">
                    <button type="submit">Uložit</button>
                </div>
            </form>
        </div>
    </div>
    {% endfor %}
{% endblock %}